name: PR Checks

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  pull_request:
    branches: main

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'true'
    - name: Set up Python
      uses: actions/setup-python@v1
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install platformio
    - name: Create WiFi credentials file for CI
      run: |
        cp wifi_credentials.ini.example wifi_credentials.ini
        # Use dummy values for CI builds
        sed -i 's/YourWiFiSSID/CI_SSID/' wifi_credentials.ini
        sed -i 's/YourWiFiPassword/CI_PASSWORD/' wifi_credentials.ini
        sed -i 's|https://your-api-endpoint.com/api/v1|http://localhost:3000|' wifi_credentials.ini
    # It is important to first install the libraries before compiling, since otherwise compilation might fail to find the just-installed libraries
    - name: Install platformIO libraries
      run: pio lib install
    - name: Run Platformio Tests
      run:  platformio test -e native
    - name: Run CLI Simulator Tests
      run: platformio test -e native_cli
    - name: Build ESP32-s3 Image
      run:  platformio run -e esp32-s3_release